* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    background-color: #ffffff;
    padding-left: 3em;
    padding-right: 3em;
}

header {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    flex-direction: row;
    background-color: aqua;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#botoes {
    display: inline-block;
    display: flex;
    gap: 2.5em;
    flex-wrap: nowrap;
}

#botoes span{
    background-color: rgb(85, 223, 223);
    font-size: 1.3em;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    border-radius: 10%;
    padding: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    cursor: pointer;
}

#botoes span:hover{
    background-color: rgb(76, 194, 194);
}

#botoes span:active{
    background-color: rgb(60, 165, 165);
}

main {
    margin-top: 8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #686868;
    height: 500px;
}

main :nth-child(2) {
    background-color: #5e5e5e;
    padding: 1em;
    border-radius: 5%;
    text-align: center;
}

main :nth-child(2) h1{
    color: rgb(255, 92, 92);
    font-size: 4em;
    padding: 0;
    
}

main :nth-child(2) p{
    color: white;
    font-size: 1.2em;
    padding: 0;
}

section {
    margin-top: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.produtos-text {
    margin-top: 1em;
    text-align: center;
    overflow-wrap: break-word;

}
.produtos-text h2 {
    margin-bottom: 0.2em;
}
.container-produtos{
    width: 360px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.container-img {
    
}

.img-produtos {
    max-width: 280px;
    max-height: 280px;
    width: auto;
    height: auto;
}

.botoes-compra {
    margin-top: 1em;
}

.btn-buy,
.btn-cart {
    padding: 0.50em;
    border-radius: 10%;
    font-size: medium;
    background-color: #d4d4d4;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn-buy:hover,
.btn-cart:hover {
    background-color: #c2c2c2;
}

.btn-buy:active,
.btn-cart:active {
    background-color: #a8a8a8;

}

.btn-buy {
    margin-right: 1em;
}
